/*
Theme Name: Top Ux Work
Theme URI: http://www.olmarket.co.uk
Author: Enhui Zhu
Author URI: http://www.olmarket.co.uk
Description: Top Ux Work
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: Link To China

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import url(css/semantic.min.css);
@import url(css/icon.min.css);
@import url(css/dimmer.min.css);
@import url(css/modal.min.css);
@import url(css/form.min.css);
@import url(css/message.min.css);
@import url(css/loader.css);
body {
  background: #EEEEEE;
  color: #333333;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

iframe, .iframe-container {
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; }

.iframe-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 54px;
  z-index: 10; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
  display: none; }

.clear {
  clear: both; }

.dimmable.image {
  width: 100%;
  max-height: 259px;
  overflow: hidden; }

.content-container {
  position: fixed;
  background-color: black;
  padding: 6px;
  top: 0px;
  left: 0px;
  color: white;
  width: 100%;
  z-index: 1000; }
  .content-container .content {
    display: inline-block;
    float: right;
    padding-right: 19px; }
    .content-container .content .error {
      color: red; }
    .content-container .content a {
      margin-left: 10px; }
      .content-container .content a.login {
        color: white; }

/**
* style for loader
**/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  z-index: 1000; }
  .loader-wrapper .cssload-loader {
    top: calc(50% - 31px); }

.like.disable {
  /*opacity: 0.3;*/ }
  .like.disable .heart {
    color: red; }

.header.item a {
  color: #333333; }

.error {
  color: red; }

.success {
  color: green;
  margin-bottom: 10px; }

#collectionLoader {
  margin-top: 30px;
  display: block;
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none; }
  #collectionLoader .ui.dimmer {
    background: transparent; }

.fadein-animation {
  -webkit-animation-name: fadein;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 3s;
  /* Chrome, Safari, Opera */
  animation-name: fadein;
  animation-duration: 3s; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
.ui.menu:not(.vertical) .item.launch {
  display: none; }

.page-not-available {
  text-align: center;
  font-size: 14px;
  color: #444444;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding: 0% 28.8%;
  top: calc(50% - 189px); }
  .page-not-available .cry-face {
    width: 288px;
    height: 200px;
    background-image: url("img/illustration.png");
    background-position: center center;
    background-size: 100% auto;
    margin: 0px auto; }
  .page-not-available .big-font {
    font-size: 48px;
    margin: 31px 0px; }
  .page-not-available .waring-description {
    margin-bottom: 14px; }
  .page-not-available .link {
    width: 191px;
    margin: 0px auto; }

@media screen and (max-width: 480px) {
  .page-not-available {
    padding: 0% 21.6%;
    top: calc(50% - 189px); }
    .page-not-available .cry-face {
      width: 108px;
      height: 75px; }

  .ui.secondary.menu .menu:first-child {
    background-color: #2185D0;
    position: fixed;
    z-index: 1000;
    left: -200px;
    height: 100%;
    display: block;
    top: 0px;
    width: 200px;
    overflow: auto;
    padding-top: 19px;
    box-shadow: 2px 2px 14px gray;
    transition: all 0.6s; }
    .ui.secondary.menu .menu:first-child.show-menu {
      left: 0px; }
    .ui.secondary.menu .menu:first-child .item {
      color: white; }
  .ui.secondary.menu .menu:last-child .launch {
    display: block;
    background-color: #2185d0;
    color: white;
    position: absolute;
    left: 9px; }

  .small-avatar {
    display: none !important; }

  .home-link span {
    display: none; }

  .collection-link {
    /*position: fixed !important;
    background-color: $white !important;
    color: $btnBlue !important;
    top:calc(50% - 5px);
    
    &.previous{
    	left: 0px;
    };
    
    &.next{
    	right: 0px;
    };
    
    span{
    	display: none;
    }*/ }
    .collection-link span {
      display: none; } }
