/*
Theme Name: Top Ux Work
Theme URI: http://www.olmarket.co.uk
Author: Enhui Zhu
Author URI: http://www.olmarket.co.uk
Description: Top Ux Work
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: Link To China

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import "css/semantic.min.css";
@import "css/icon.min.css";
@import "css/dimmer.min.css";
@import "css/modal.min.css";
@import "css/form.min.css";
@import "css/message.min.css";
@import "css/loader.css";
@import "css/mixin.scss";

$black:#000;
$white:#fff;
$bodyColor: #333333;
$btnBlue: #2185D0;

body {
    background: #EEEEEE;
    color: $bodyColor;
    overflow-x: hidden;
    overflow-y: scroll;  
  	-webkit-overflow-scrolling: touch;
}

iframe{
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.iframe-container{
	width: 100%; 
	height: 100%;
	position: fixed;
    top: 54px;
	z-index: 10;
	@extend iframe;
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	z-index: 999;
	display: none;
}


.clear{
	clear:both;
}

.dimmable.image{
	width: 100%;
	max-height: 259px;
	overflow: hidden;
}

.content-container{
	position: fixed;
	background-color: $black;
	padding: 6px;
	top:0px;
	left: 0px;
	color: $white;
	width: 100%;
	z-index: 1000;

	.content{
		display: inline-block;
		float: right;
		padding-right: 19px;

		.error{
		   color: red;
		}

		a{
		   margin-left: 10px;
		   &.login{
		   	  color: $white;
		   }
		}
	}
}


/**
* style for loader
**/
.loader-wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(255,255,255,0.8);
	display: none;
	z-index: 1000;

	.cssload-loader{
		top: calc(50% - 31px);
	}

}


.like.disable{
	/*opacity: 0.3;*/
	.heart{
		color: red;
	}
}

.header.item a{
	color: $bodyColor;
}

.error{
	color: red;
}

.success{
	color: green;
	margin-bottom: 10px;
}

#collectionLoader{
    margin-top: 30px;
    display: block;
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    .ui.dimmer{
    	background: transparent;
    }
}

.fadein-animation{
	@include animation(fadein, 3s);
}


@include keyframes(fadein){
    from {opacity: 0;}
    to {opacity: 1;}
}

.ui.menu:not(.vertical) .item{
	&.launch{
		display: none;
	}
}

.page-not-available{
	text-align: center;
	font-size: 14px;
	color: #444444;
	font-family: 'Lato', sans-serif;
	position: relative;
	padding: 0% 28.8%;
	top: calc(50% - 189px);
	
	.cry-face{
		width: 288px;
		height: 200px;
		background-image: url("img/illustration.png");
		background-position: center center;
		background-size: 100% auto;
		margin: 0px auto; 
	}

	.big-font{
		font-size: 48px;
		margin: 31px 0px;
	}

	.waring-description{
		margin-bottom: 14px;
	}

	.link{
		width: 191px;
		margin: 0px auto;
	}
}


@media screen and (max-width: 480px) {
	$menuWidth : 200px;
	
	.page-not-available{
		padding: 0% 21.6%;
		top: calc(50% - 189px);

		.cry-face{
			width: 108px;
			height: 75px;
		}
	}

	.ui.secondary.menu{
		.menu:first-child{
	        background-color: #2185D0;
		    position: fixed;
		    z-index: 1000;
		    left: -$menuWidth;
		    height: 100%;
		    display: block;
		    top: 0px;
		    width: $menuWidth;
		    overflow: auto;
		    padding-top: 19px;
		    box-shadow: 2px 2px 14px gray;
		    transition: all 0.6s;
		    
		    &.show-menu{
		    	left: 0px;
		    }

		    .item{
		   	   color: white;
		    }
		}

		.menu:last-child{
			.launch{
				display: block;
				background-color: $btnBlue;
				color: $white;
				position: absolute;
				left: 9px;
			}
		}
	}

	.small-avatar{
		display: none !important;
	}

	.home-link{
		span{
			display: none;
		}
	}

	.collection-link{
		span{
			display: none;
		}
		/*position: fixed !important;
		background-color: $white !important;
		color: $btnBlue !important;
		top:calc(50% - 5px);
		
		&.previous{
			left: 0px;
		};
		
		&.next{
			right: 0px;
		};
		
		span{
			display: none;
		}*/
	}
}




