@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}


@mixin animation($name, $duration){
  -webkit-animation-name: $name; /* Chrome, Safari, Opera */
  -webkit-animation-duration: $duration; /* Chrome, Safari, Opera */
  animation-name: $name;
  animation-duration: $duration;
}
